* {
	margin: 0;
	padding: 0;
}

body {
	font-family: K2D;
}

@font-face {
	font-family: Montserrat;
	src: url(../Montserrat/Montserrat-Regular.ttf);
}

@font-face {
	font-family: K2D;
	src: url(../K2D/K2D-Regular.ttf);
}

#top-section {
	background-color: #1C1C1C;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

#top-section nav {
	padding: 1% 3%;
	position: fixed;
	width: 55%;
	z-index: 100;
	background-color: #1C1C1C;
	border-radius: 0 0 70px;
	opacity: 0.9;
}

#top-section nav ul li {
	display: inline-block;
	padding: 3% 2%;
}

#top-section li img {
	position: absolute;
	margin-top: 2%;
}

#top-section nav a {
	text-decoration: none;
	color: #E7DD87;
	text-transform: uppercase;
	font-family: Montserrat;
	font-size: 1.4em;
}

.effet::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #E7DD87;
	transition: width 300ms;
}

.effet::before {
	content: '';
	display: none;
}

.effet:hover::after {
	width: 100%;
}

.effet:hover {
	text-decoration: none;
}

#content-left {
	width: 31%;
	margin-top: 8%;
	padding: 4%;
	float: left;
}

#content-left h3 {
	color: #E7DD87;
    font-size: 2em;
    font-family: montserrat;
    text-align: center;
    padding: 10% 0%;
}

#content-left p {
	color: #fff;
	font-size: 1.3em;
}

#content-right {
	background-image: url(../Images/Groupe34.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    width: 65%;
    float: right;
    margin-top: -2%;
    height: 90vh;
}

#content-right h1 {
	margin-left: 52%;
    margin-top: 7%;
    font-family: rage;
    font-size: 6em;
}

#content-right p {
	width: 30%;
    margin-left: 66%;
    margin-top: 5%;
    text-align: right;
}

/******************************************/

#middle-section {
	padding: 3%;
}

.text {
	width: fit-content;
}

#text h2 {
	font-size: 2.5em;
}

table.table {
	margin-left: 30%;
	width: 65%;
}

table h1 {
	position: absolute;
    font-size: 15em;
    color: #fff;
    opacity: 0.6;
    padding: 7%;
}

table img {
	height: 45vh;
	transition: 1s;
}

.contain {
	display: block;
	opacity: 0;
	margin-top: -5%;
    width: 14.6%;
    position: absolute;
    background-color: #fff8;
    padding: 1%;
    z-index: -1;
    transition: 400ms;
}

.contain h2 {
	text-align: center;
    color: #000;
    font-size: 1.8em;
    font-family: K2D;
}

.contain p {
	text-align: right;
    color: #444444;
    font-family: K2D;
    margin-right: 5%;
}

td:hover .contain {
	opacity: 1;
	margin-top: 0%;
	z-index: 1;
}

table img {
	width: 76%;
}

/*******************************************/

#bottom-section {
	padding: 3%;
}

video {
	width: 100%;
	padding: 5% 0%;
}

#left {
	float: left;
	width: 30%;
	margin-left: 13%;
}

#left h2 {
	background-color: #a4a4a470;
    padding: 2%;
    margin-bottom: 5%;
}

#right {
	float: right;
	width: 30%;
	margin-right: 13%;
}

#right h2 {
	background-color: #a4a4a470;
    padding: 2%;
    margin-bottom: 5%;
}

/********************************************/

footer {
	margin-top: 5%; 
	float: left;
	width: 100%;
	height: 18vh;
	background-color: #1c1c1c;
}

footer {
	color: #fff;
}

footer p {
	font-size: 2em;
}

footer a {
	color: #fff;
	text-decoration: none;
}

#droit {
	padding: 1% 18%;
	float: left;
}

#liens {
	padding: 1%;
	margin-left: 18%;
	float: left;
}

/*********************************************/


#chiffre {
	background-color: #2E2E2E;
    width: 50%;
    height: 16vh;
    position: absolute;
    left: 40%;
    top: 69%;
    border-radius: 100px;
    overflow: hidden;
}

#texte1, #texte2, #texte3 {
	-webkit-animation:linear texte 10s infinite ;
	-moz-animation:linear texte 10s infinite ;
	-o-animation:linear texte 10s infinite ;
	-ms-animation:linear texte 10s infinite ;
	animation:linear texte 10s infinite ;
	margin-left:0%;
	padding:0 5px;
	text-align:right;
	color: #fff;
	width: 100%;
}

#texte1 h3 {
	padding: 2%;
    position: absolute;
    margin-left: 70%;
    width: inherit;
}

@-webkit-keyframes texte {
 	0% {
 		margin-left:0;
 	}

 	99.99% {
 		margin-left:-100%;
 	}

 	100% {
 		margin-left: 0;
 	}
 }

#texte2 h3 {
	padding: 6%;
    position: absolute;
    margin-left: 87%;
    width: inherit;
}

#texte3 h3 {
	padding: 10%;
    position: absolute;
    margin-left: 80%;
    width: inherit;
}

/**************************************************/

@media (max-width: 1850px) {
	#content-right {
		background-image: none;
		color: #E7DD87;
	}
}

@media (max-width: 1715px) {
	#chiffre {
		display: none;
	}
}

@media (max-width: 1000px) {
	#liens {
		float: none;
	}
}

@media (max-width: 670px) {
	footer {
		opacity: 0;
	}
}